username=your_reddit_username
password=your_reddit_password
client_id=your_reddit_client_id
client_secret=your_reddit_client_secret
TOTAL_SUBREDDITS_PER_TOPICS=6
SUBREDDIT_SORT_FILTER=hot
POSTS_PER_SUBREDDIT=10
POSTS_SORT_FILTER=new